<div class="container p-3">
  <div class="row mb-2">
    <div class="col-md-6">
      <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative" 
           (click)="goToDetails(lists[0].id)" style="cursor: pointer;">
        <div class="col p-4 d-flex flex-column position-static">
          <strong class="mb-2">Noticia {{lists[0].id}} - {{lists[0].date}}</strong>
          <h4 class="mb-0 fw-bold text-primary">{{lists[0].title}}</h4>
          <p class="mb-auto">{{lists[0].description}}</p>
          <a href="#" class="icon-link" (click)="$event.preventDefault(); goToDetails(lists[0].id)">Ver más</a>
        </div>
        <div class="col-auto d-none d-lg-block">
          <img [src]="lists[0].image" width="200" height="250" alt="Imagen de la noticia">
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative"
           (click)="goToDetails(lists1[0].id)" style="cursor: pointer;">
        <div class="col p-4 d-flex flex-column position-static">
          <strong class="mb-2">Noticia {{lists1[0].id}} - {{lists1[0].date}}</strong>
          <h4 class="mb-0 fw-bold text-primary">{{lists1[0].title}}</h4>
          <p class="mb-auto">{{lists1[0].description}}</p>
          <a href="#" class="icon-link" (click)="$event.preventDefault(); goToDetails(lists1[0].id)">Ver más</a>
        </div>
        <div class="col-auto d-none d-lg-block">
          <img [src]="lists1[0].image" width="200" height="250" alt="Imagen de la noticia">
        </div>
      </div>
    </div>
  </div>
  <div class="row mb-2">
    <div class="col-md-6">
      <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative"
           (click)="goToDetails(lists2[0].id)" style="cursor: pointer;">
        <div class="col p-4 d-flex flex-column position-static">
          <strong class="mb-2">Noticia {{lists2[0].id}} - {{lists2[0].date}}</strong>
          <h4 class="mb-0 fw-bold text-primary">{{lists2[0].title}}</h4>
          <p class="mb-auto">{{lists2[0].description}}</p>
          <a href="#" class="icon-link" (click)="$event.preventDefault(); goToDetails(lists2[0].id)">Ver más</a>
        </div>
        <div class="col-auto d-none d-lg-block">
          <img [src]="lists2[0].image" width="200" height="250" alt="Imagen de la noticia">
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative"
           (click)="goToDetails(lists3[0].id)" style="cursor: pointer;">
        <div class="col p-4 d-flex flex-column position-static">
          <strong class="mb-2">Noticia {{lists3[0].id}} - {{lists3[0].date}}</strong>
          <h4 class="mb-0 fw-bold text-primary">{{lists3[0].title}}</h4>
          <p class="mb-auto">{{lists3[0].description}}</p>
          <a href="#" class="icon-link" (click)="$event.preventDefault(); goToDetails(lists3[0].id)">Ver más</a>
        </div>
        <div class="col-auto d-none d-lg-block">
          <img [src]="lists3[0].image" width="200" height="250" alt="Imagen de la noticia">
        </div>
      </div>
    </div>
  </div>
</div>